{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "forecast/forecast.css" %}">
{% endblock  %}

{% block content %}
    <header>
        <h1>Windy Arbour Luas Stop</h1>
    </header>
    <table id="luas-table">
        <thead>
        <tr><th>Direction</th><th>Destination</th><th>Due (mins)</th></tr>
        </thead>
        <tbody>
        {% for a in arrivals %}
            <tr>
                <td>{{ a.direction }}</td>
                <td>{{ a.destination }}</td>
                <td>{{ a.due_mins }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p id="last-updated">Last updated: {{ arrivals.0.timestamp|date:"H:i:s" }}</p>
{% endblock  %}
{% block scripts %}
    <script>
        const luasTimesUrl = "{% url 'luas_times_json' %}"
    </script>
    <script src={% static "forecast/forecast.js" %}></script>
{% endblock  %}