{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "forecast/forecast.css" %}">
{% endblock  %}

{% block content %}
    <header>
        <h1>Luas Forecast</h1>
    </header>
    {% include "forecast/includes/dropdown.html" %}
    {% include "forecast/includes/display-table.html" %}
{% endblock  %}
{% block scripts %}
    <script>
        const luasTimesUrl = "{% url 'luas_times_json' selected_stop%}"
    </script>
    <script src={% static "forecast/forecast.js" %}></script>
    <script src={% static "forecast/select_stop.js" %}></script>
{% endblock  %}